body {
    background-color: rgb(161, 175, 164);
}

.content {
        display: block;
        margin-left: auto;
        margin-right: auto;
    width: 50%;
    align-items: center;
      }
      img {
          border-radius: 150px;
          height: 300px;
          width: 300px;
      }

.card img {
    object-fit: cover;
    
}
    
